@color-link : #337AB7;
@color-accent : #E21010;
@color-faded : #8C8C8C;
@color-light : #EEE;
@color-white : #FFF;

@color-borders : #E3E3E3;



.view-taxonomynode .row {
	margin-bottom: 20px;
}

.views-responsive-grid .views-field-title ,
.views-responsive-grid .views-field-name-1 ,
.views-responsive-grid .views-field-name {
	text-align: center;
	padding: 10px 0;

	a {
		font-weight: 700;
		color: black;
	}
}
.views-responsive-grid .row {
	position: relative;
}


.views-responsive-grid .row > div:hover a {
	color: @color-link;
}

.views-responsive-grid .row > div:hover {
	border: lighten(@color-faded, 20%) 1px dotted;
}
.views-responsive-grid .row > div {
	height: 100%;
	padding-top: 20px;
}
.views-responsive-grid .row > div + div {
	// border-left: 1px dotted silver;
}

.views-responsive-grid .views-field-title {
	margin: 20px 0;
}



/* ! node inner 
==============================================================================*/
.node .field-name-field-image {
	float: left;
	margin: 0 20px 20px 0;
}

.node .field-name-field-app-cost {
	color: @color-accent;
	font-weight: 700;
	font-size: 1.5em;
}


.field-name-field-image {
	width: 350px;

	.field-items {
		clear: both;
		overflow: hidden;
	}


	.field-item {
		float: left;
		margin: 8px;
	}
}



/* ! news block
==============================================================================*/
.view-view-news .views-row {
	margin-bottom: 20px;

	.views-field-title {
		padding: 10px 0;
		// text-align: center;

		a {
			text-align: center;
			// color: black;

		}
	}

	.views-field-changed {
		color: @color-faded;
	}

	.views-field-body {
		color: @color-faded;

		a {
			color: @color-faded;
		}
	}

	.views-field-title a {
		color: @color-faded;
		font-weight: 700;
	}
}


/* ! news page
============================================================================= */
.view-view-news.view-display-id-page {
	.views-field-field-image {
		float: left;
		margin: 0 20px 20px 0;
	}

	.views-field-title {
		padding-top: 0;
	}

	h2 {
		font-size: 1.5em;
		margin-top: 0;
	}

	.views-row {
		clear: both;
	}
}


#block-block-2 {
    width: 300px;
    float: right;
    height: 50px;
    line-height: 50px;
}

.region-navigation {
	float: right;
}

.action-links {
	display: none;
}



/* ! taxonomy term
============================================================================= */
.view-taxonomyterm {
	.view-header {
		margin-bottom: 30px;
	}

	.views-field-field-special {
		position: absolute;
    top: 23px;
    right: 11px;
	}
}

/* ! flexslider
============================================================================= */
.view-full-image-slider {
	.flex-caption, .slide-caption {
		position: absolute;
		bottom: 0px;
		left: 0;
		width: 100%;

		background: fade(@color-white, 60%);
		padding: 20px;


		.field-name-field-slide-title {
			&:extend(h3 all);
			margin-top: 0;
		}
	}


	header {
		display: none;
	}
}


.view-goods-carousel {
	.slides li {
		padding: 10px;
		background: @color-light;
		border: 1px solid @color-borders;
		border-radius: 5px;
	}

	.owl-wrapper .owl-item > div{
		margin: 10px;
		padding: 10px;
		background: @color-light;
		border: 1px solid @color-borders;
		border-radius: 5px;
	}
	

	.flex-caption, .views-field-title {
		font-weight: 700;
		color: black;
		padding: 20px 0 0;
		text-align: center;
		min-height: 70px;
	}

	.flex-caption a, .views-field-title a {
		color: black;
	}

	.views-field-field-image .field-content {
		text-align: center;
	}
	.views-field-field-image a {
		display: inline-block;
		text-align: center;
	}
}

.region-footer #block-webform-client-block-1269 {
	display: none;
}


/* ! modals and system
============================================================================= */
#myModal {
	form .form-item {
		margin: 20px 0;
	}
}


#block-menu-menu-catalogmenu {
	ul ul li{
		margin-left: 20px;
		padding-left: 10px;
		border-left: 1px solid @color-white;
	}
}


/* ! mis
============================================================================ */


#block-block-2 .btn {
	margin-bottom: 2px;
}

a.views-more-link {
	font-weight: 700;
	color: @color-link !important;
}

.webform-client-form input[type=submit], .webform-client-form button {
	margin-top: 10px;
}